.Reproductor,.Aside{
    position: fixed;
}
@import "aside";
@import "Reproductor";
.icon{
    cursor: pointer;
    margin: 5px;
    color: rgb(219, 219, 219);
}
.icon:hover{
    color: white;
}
.active{
    color: white ;
}